section.portifolio{
    padding: 80px 4%;  
}
.portifolio h2{
    font-family: var(--title-font);
    font-size: 4rem;
    text-align: center;
}
.portifolio h2 span{
    font-family: var(--title-font);
    color: var(--destaque-color);
}
section.portifolio .flex{
    align-items: center;
    justify-content: space-around;   
    margin-top: 60px;
}
.img-port{
    
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}
.img-port:hover{
    background-position: 100% 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;    
    opacity: 0;
    transition: .5s;
}
.overlay:hover{
    opacity: 1;
}